*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Inter,sans-serif;
}

body{
    background:#0d1117;
    color:white;
    min-height:100vh;
    display:flex;
    justify-content:center;
    padding:40px;
}

.container{
    width:100%;
    max-width:900px;
}

.logo{
    text-align:center;
    margin-bottom:30px;
}

.logo h1{
    color:#ff9d42;
    font-size:4rem;
    letter-spacing:6px;
}

.logo p{
    color:#8b949e;
    margin-top:10px;
}

.card{
    background:rgba(255,255,255,0.03);
    border:1px solid rgba(255,157,66,0.2);
    border-radius:24px;
    padding:30px;
    margin-bottom:25px;

    backdrop-filter:blur(20px);

    box-shadow:
        0 0 20px rgba(255,157,66,0.08),
        inset 0 0 20px rgba(255,157,66,0.02);
}

.card h2{
    margin-bottom:20px;
    color:#ff9d42;
}

label{
    display:block;
    margin-top:15px;
    margin-bottom:8px;
    color:#b9c0c8;
}

select,
input[type="text"]{
    width:100%;
    background:#161b22;
    border:1px solid #2b3138;
    color:white;
    padding:14px;
    border-radius:14px;
    outline:none;
}

select:focus,
input[type="text"]:focus{
    border-color:#ff9d42;
}

.upload-box{
    margin-top:20px;
    height:140px;

    border:2px dashed #ff9d42;
    border-radius:18px;

    display:flex;
    justify-content:center;
    align-items:center;

    cursor:pointer;

    transition:0.3s;
}

.upload-box:hover{
    background:rgba(255,157,66,0.05);
}

.upload-box span{
    color:#ffb36b;
}

.upload-box input{
    display:none;
}

button{
    width:100%;
    margin-top:20px;

    background:#ff9d42;
    color:#111;

    border:none;
    border-radius:14px;

    padding:14px;

    font-size:1rem;
    font-weight:600;

    cursor:pointer;

    transition:0.3s;
}

button:hover{
    transform:translateY(-2px);
    box-shadow:0 0 25px rgba(255,157,66,0.4);
}

.chat-box{
    background:#161b22;
    border-radius:16px;
    min-height:250px;
    padding:20px;
    margin-bottom:20px;
}

.message{
    padding:15px;
    border-radius:14px;
    max-width:80%;
}

.ai{
    background:#232a33;
    border:1px solid rgba(255,157,66,0.2);
}

.input-row{
    display:flex;
    gap:12px;
}

.input-row input{
    flex:1;
}

.input-row button{
    width:140px;
    margin-top:0;
}